@import '../mixins.scss';

/*------------General----------------------------*/

.footer{
  @include style-sections;
  @include flex-center-all;
  margin: 0 0.5vmax;
  margin-bottom: 0.5vmax;
  justify-content: space-between;
  padding: 0.5vmax 1vmax;
  width: 100%;
  height: auto;

  .social-media-container{
    display: flex;
    gap: 1.5vw;

    .social-media{
      background: var(--guardsman-red-400);
      box-shadow: 0px 0px 8px var(--guardsman-red-300);
      border-radius: 50%;
      width: 2.5vw;
      min-width: 1.8rem;
      max-width: 5rem;
      height: 2.5vw;
      min-height: 1.8rem;
      max-height: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-size: max (1rem, min(2.3vw, 3rem));
      transition: all 100ms ease-in-out;

      a{
        @include flex-center-all;
        color: white;
      }
    }

    .social-media:hover{
      background: var(--guardsman-red-900);
      transform: scale(1.2);
    }
  }

  .rights{
    color: white;
    font-family: "Protest Riot", sans-serif;
    font-size: 1.3vmax;
  }

  .logo{
    @include style-logo();
  }
}
