.about-me {
  position: relative;
  background: var(--blue-hard);
  width: 100%;
  color: white;
  padding: 1vmax;
  height: auto;
  display: grid;
  align-content: flex-start;
  background-color: var(--blue-soft);
}
@media (min-width: 991px) {
  .about-me {
    grid-template-areas: "photo info";
    grid-template-columns: 20% 80%;
  }
}
.about-me .frame-texture {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #06162b 1px, transparent 1px), linear-gradient(to bottom, #06162b 1px, transparent 1px);
  background-size: 1vmax 2vmax;
}
.about-me .tab {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  padding: 1vmin;
  width: 15%;
  min-width: 7rem;
  background: rgb(247, 231, 12);
  color: black;
  cursor: pointer;
  box-shadow: 0px 1px 20px rgb(1, 2, 1);
  z-index: 4;
  font-size: 1.2vmax;
  right: 0.5%;
}
.about-me .photo {
  display: none;
  visibility: hidden;
  padding: 1vmin;
  padding-top: 2vmin;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5vmax;
}
@media (min-width: 991px) {
  .about-me .photo {
    grid-area: photo;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    visibility: visible;
  }
}
.about-me .photo img {
  background: var(--blue-soft);
  border: 0.2vmax solid rgb(247, 231, 12);
  width: 100%;
  height: 70%;
  border-radius: 0.5vmax;
  z-index: 1;
}
.about-me .photo button {
  width: 17vmax;
  height: 3.5vmax;
  font-size: 1.7vmax;
  z-index: 1;
}
.about-me .container-info {
  grid-area: info;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.about-me .container-info .info {
  padding: 1vmin;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.about-me .container-info .info .presentation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 3.5vmax;
}
.about-me .container-info .info .presentation h2 {
  font-size: 2vmax;
  font-family: "Orbitron", sans-serif;
  text-shadow: 2px 2px 4px rgba(236, 236, 236, 0.46);
  background: var(--gradient-silver);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  color: rgb(247, 231, 12);
  text-shadow: 2px 2px 4px rgba(224, 238, 28, 0.726);
}
@media (min-width: 600px) {
  .about-me .container-info .info .presentation h2 {
    font-size: 3vmax;
  }
}
.about-me .container-info .info .presentation button {
  font-size: 1.2vmax;
}
@media (min-width: 991px) {
  .about-me .container-info .info .presentation button {
    display: none;
  }
}
.about-me .container-info .info h3 {
  font-size: 2vmax;
  margin-bottom: 1.5vmin;
  text-shadow: 1px 1px 2px rgba(199, 240, 20, 0.774);
}
@media (min-width: 600px) {
  .about-me .container-info .info h3 {
    font-size: 2.7vmax;
  }
}
.about-me .container-info .info p {
  font-size: 1.3vmax;
  width: 75%;
  text-shadow: 2px 2px 4px rgba(199, 240, 20, 0.774);
  margin-bottom: 5vmin;
  text-align: justify;
}
@media (min-width: 600px) {
  .about-me .container-info .info p {
    width: 80%;
    font-size: 2vmax;
  }
}
.about-me .container-info .info .resume {
  display: grid;
  width: 85%;
  gap: 1.5vmin;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  font-size: 1.4vmax;
  padding: 1vmin;
}
@media (min-width: 480px) {
  .about-me .container-info .info .resume {
    width: 70%;
  }
}
@media (min-width: 760px) {
  .about-me .container-info .info .resume {
    width: 60%;
  }
}
.about-me .container-info .info .resume span {
  display: flex;
  align-items: center;
  gap: 2vmin;
}
.about-me .container-info .info .resume span:nth-child(2),
.about-me .container-info .info .resume span:nth-child(4) {
  justify-content: flex-end;
}
.about-me .container-info .info .resume .birth {
  position: relative;
}
.about-me .container-info .info .resume .birth span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-me .container-info .info .resume .birth .hours {
  position: absolute;
  top: -100%;
  left: 100%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.637);
  opacity: 0;
  transition: all 0.8s ease-in-out;
  font-size: 1.5vmax;
}
.about-me .container-info .info .resume .birth:hover .hours {
  opacity: 1;
}
.about-me .container-info .info .skill {
  padding-top: 2vmax;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.about-me .container-info .info .skill h2 {
  font-family: "Orbitron", sans-serif;
  text-shadow: 2px 2px 4px rgba(236, 236, 236, 0.46);
  background: var(--gradient-silver);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-bottom: 5vmin;
  font-size: 2vmax;
}
.about-me .container-info .info .skill .container-skill {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1vmin;
  margin-bottom: 5vmax;
}
@media (min-width: 760px) {
  .about-me .container-info .info .skill .container-skill {
    width: 100%;
  }
}
.about-me .container-info .info .skill .container-skill div {
  padding: 1vmax;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: space-evenly;
  gap: 0.7vmin;
  background-color: var(--blue-hard);
}
.about-me .container-info .info .skill .container-skill div strong {
  font-size: 5vmax;
  color: rgb(247, 231, 12);
}
.about-me .container-info .info .skill .container-skill div span {
  font-size: 1.2vmax;
}
@media (min-width: 600px) {
  .about-me .container-info .info .skill .container-skill div span {
    font-size: 2vmax;
  }
}/*# sourceMappingURL=AboutComponent.css.map */