@import '../mixins.scss';

.portfolio{
  @include style-sections;
  @include flex-center-all;
  flex-direction: column;
  padding: 1.5vmax;
  padding-bottom: 5vmax;
  gap: 1vmax;

  .title{
    font-family: "Protest Riot", sans-serif;
    font-size: 2.8vmax;
  }
  
  .categories-projects{
    display: flex;
    justify-content: center;
    gap: 1vmax;
    margin-bottom: 1vmax;
    width: 100%;
    transition: all 0.3s ease-in-out;

    button{
      background: black;
      border: 0.1vmax solid var(--guardsman-red-300);
      color: var(--guardsman-red-100);
      width: 40%;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
    }

    button:hover{
      background-color: orange;
    }

    button:active{
      background-color: red;
      color: white;
    }
   }


   .categories-projects.fixed{
    position: fixed;
    border-radius: 0 0 3vmax 3vmax;
    @media(min-width: 760px){
      border-radius: 0 0 5vmax 5vmax;
    }
    width: 80%;
    top: 8vmin;
    z-index: 5;
    background: linear-gradient(to left, #af0505d7, #500000ce); 
    padding-bottom: 1vmax;
   }

   .container-hightlights{
    @include flex-center-all;
    width: 100%;
    flex-direction: column;
    gap: 1.5vmax;
     @media(min-width: 700px){
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }

    .project-hightlight{
      background: rgba(0, 0, 0, 0.705);
      border: 0.2vmax solid var(--guardsman-red-300);
      @media(min-width: 760px){
        box-shadow: 0px 0px 20px var(--guardsman-red-400);
      };
      border-radius: 0.5vmax;
      width: 100%;
      overflow: hidden;
      @media only screen and (min-width: 500px) and (max-width: 699px) {
        width: 80%;
      }
      @include flex-center-all;
      flex-direction: column;
      gap: 0.5vmax;

      .title-project{
        display: flex;
        gap: 1vmax;
       }

      .photo-project{
        width: 98%;
        height: 25vmax;
        border-radius: 0.5vmax;
        overflow: hidden;

        img{
          width: 100%;
          height: 100%;
          transition: all 0.3s ease-in-out;
        }

        img:hover{
          transform: scale(1.5);
        }
      }

      strong{
        font-size: clamp(8px, 1.3vmax, 30px);
      }

      .container-skills{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 1.5vmax;
        gap: 0.5vmax;
        padding: 0.4vmax;

        .skill{
          @include flex-center-all;
          font-size: 3vmax;
          border-radius: 0.5vmax;
          background: var(--guardsman-red-400);
          color: var(--guardsman-red-100);
          height: 4vmax;
          width: 4vmax;
        }
      }

      .project-visualization{
        width:100%;
        border-radius: 0;
        cursor: pointer;
      }
    }
   }

  .container-hightlights.hide{
    display: none;
   }


  .container-other-projects{
    @include flex-center-all;
    width: 100%;
    flex-direction: column;
    gap: 1.5vmax;
    @media(min-width: 632px){
      display: grid;
      justify-items: center;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
    @media(min-width: 832px){
      grid-template-columns: 1fr 1fr 1fr;
    }

    .other-projects{
      background: rgb(0, 0, 0);
      background: linear-gradient(to left, var(--guardsman-red-950), black);
      background: rgba(0, 0, 0, 0.705);
      border: 0.2vmax solid var(--guardsman-red-300);
      @media(min-width: 760px){
        box-shadow: 0px 0px 20px var(--guardsman-red-400);
      };
      border-radius: 0.5vmax;
      width: 90%;
      overflow: hidden;
      @media only screen and (min-width: 432px) and (max-width: 632px) {
        width: 75%;
      }
      @include flex-center-all;
      flex-direction: column;
      gap: 0.5vmax;
      .title-project{
        display: flex;
        gap: 1vmax;
      }
      .photo-project{
        width: 98%;
        height: 20vmax;
        @media only screen and (min-width: 500px) and (max-width: 699px) {
          height: 25vmax;
        }
        border-radius: 0.5vmax;
        overflow: hidden;
        img{
          width: 100%;
          height: 100%;
          transition: all 0.3s ease-in-out;
        }

        img:hover{
          transform: scale(1.5);
        }
      }

      strong{
        font-size: clamp(8px, 1.3vmax, 30px);
      }

      .container-skills{
        align-self: flex-start;
        width: 70%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1vmax;
        padding-left: 1vmax;
        margin-bottom: 1.5vmax;

        strong{
          font-size: 1vmax;
        }

        .skill{
          @include flex-center-all;
          font-size: clamp(12px, 1.5vmax, 20px);
          border-radius: 0.5vmax;
          background: var(--guardsman-red-400);
          color: var(--guardsman-red-100);
          height: 2vmax;
          width: 2vmax;
        }
      }

      .description{
        display: flex;
        align-items: center;
        text-align: start;
        padding: 1vmax;
        margin: 0.5vmax 0;
        font-size: clamp(8px, 0.8vmax, 16px);
        height: 5vmax;
      }

      .project-visualization{
        width:100%;
        display: flex;
        gap: 0.5vmax;
        button{
          border-radius: 0;
          width: 50%;
          cursor: pointer;
        }
      }
    }
  }

  .container-other-projects.hide{
    display: none;
   }





   .modal-hightlights{
    position: fixed;
    @include flex-center-all;
    align-items: center;
    top: 8vmin;
    z-index: 6;
    background: rgba(0, 0, 0, 0.692);
    color: white;
    width: 100%;
    min-height: 100vh;
    .modal{
      background: linear-gradient(to bottom, black, var(--guardsman-red-950), var(--guardsman-red-500), var(--guardsman-red-950), black);
      background: linear-gradient(to left, #ff9595a9, #ffc1c1be, #ff9595a9);
      position: relative;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 0px 0px 27px var(--guardsman-red-400);
      border-radius: 0.8vmax;
      height: 80%;
      margin-bottom: 5vmax;
      width: 95%;
      @media(min-width: 760px){
        width: 80%;
      }
      @media(min-width: 1100px){
        width: 70%;
      }
      @media(min-width: 1300px){
        width: 52%;
      }
      
      .exit{
        cursor: pointer;
        position: absolute;
        top: 0.5%;
        right: 1.5%;
        font-size: 2vmax;
      }

      .title-project{
        @include style-silver;
        display: flex;
        gap: 1vmax;
        color: black;

        strong{
          font-family: "Protest Riot", sans-serif;
          font-size: 2vmax;
          padding: 0.3vmax 0;
        }
      }

      .photo-project{
        position: relative;
        width: 97%;
        height: 35vmax;
        @media(min-width: 760px){
          height: 35vmax;
        }
        @media(min-width: 1300px){
          height: 28vmax;
        }

        img{
          width: 100%;
          height: 100%;
          border-radius: 0.8vmax;
          @media(min-width: 760px){
            box-shadow: -5px -3px 9px black;
          }
        }

        button{
          position: absolute;
          background: rgba(0, 0, 0, 0.548);
          color: var(--guardsman-red-100);
          width: auto;
          font-size: 3vmax;
          top: 50%;
          transform: translateY(-50%);
          transition: all 300ms ease-in-out;
          cursor: pointer;
        }

        button:active{
          background: black;
        }

        button:nth-child(1){
          right: 1.5%;
          animation: translate-infinity-left 1.5s ease-in-out infinite; 
        }

        button:last-child{
          left: 1.5%;
          animation: translate-infinity 1.5s ease-in-out infinite; 
        }
      }

      .container-skills{
        align-self: flex-start;
        width: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: linear-gradient(to left, black, var(--guardsman-red-950), black);
        border-radius: 0 5px 5px 0;
        gap: 1vmax;
        padding: 0.2vmax 1vmax;
        margin: 0.4vmax 0;

  
        .skill{
          @include flex-center-all;
          font-size: 1.5vmax;
          border-radius: 0.5vmax;
          background-color: var(--guardsman-red-500);
          height: 1.8vmax;
          width: 1.8vmax;
        }
      }

      .description{
        display: flex;
        align-items: center;
        text-align: start;
        justify-content: center;
        padding: 1vmax;
        height: 6vmax;
        font-style: italic;
        font-size: clamp(6px, 0.9vmax, 18px);
        color: black;
        overflow-y: scroll;
      }
      
      .project-visualization{
        width:100%;
        display: flex;
        gap: 0.5vmax;
        button{
          width: 50%;
          border-radius: 0;
          cursor: pointer;
        }
      }
    }
  }
}