.home {
  position: relative;
  background: transparent;
  width: 90%;
  color: white;
  padding: 1vmax;
  height: auto;
  margin-bottom: 6vmax;
  width: 100%;
  position: relative;
  margin-top: 7.8vmin;
  height: 100vmin;
  display: grid;
  justify-content: center;
  grid-template-columns: 70% 30%;
}
@media (min-width: 760px) {
  .home {
    padding: 1vmax 5vmax;
    width: 90%;
  }
}
.home .modal-categories {
  position: fixed;
  top: 8vmin;
  left: -100%;
  width: 85vw;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6862745098), rgba(46, 16, 16, 0.6862745098));
  z-index: 7;
  padding: 1vmax;
  transition: all 300ms ease-in-out;
}
@media (min-width: 760px) {
  .home .modal-categories {
    display: none;
  }
}
.home .modal-categories .exit {
  cursor: pointer;
  height: 3%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  font-size: 3vmax;
  color: var(--guardsman-red-100);
}
.home .modal-categories .image-modal {
  background: rgba(0, 0, 0, 0.788);
  border: 0.5vmax solid var(--guardsman-red-300);
  box-shadow: 0px 0px 8px var(--guardsman-red-300);
  width: 20vmax;
  height: 20vmax;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1vmax;
}
.home .modal-categories .image-modal img {
  height: 95%;
}
.home .modal-categories h2 {
  font-family: "Protest Riot", sans-serif;
  font-size: 2.8vmax;
  color: var(--guardsman-red-100);
}
.home .modal-categories hr {
  color: var(--guardsman-red-300);
  box-shadow: 0px 0px 8px var(--guardsman-red-300);
}
.home .modal-categories ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.home .modal-categories ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vmax;
  margin-bottom: 2.5vmax;
  font-size: 2.5vmax;
  cursor: pointer;
  text-shadow: 2px 2px 4px rgba(236, 236, 236, 0.46);
  background: var(--gradient-silver);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.home .modal-categories ul li span {
  color: var(--guardsman-red-400);
  font-size: 3vmax;
}
.home .modal-categories div {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1vmax;
}
.home .modal-categories div button {
  width: 80%;
  height: 20%;
  font-size: 1.8vmax;
}
.home .modal-categories.show {
  left: 0;
}
.home .my-photo-personal {
  position: absolute;
  right: 0;
  height: 100%;
  z-index: 2;
}
.home .my-photo-personal img {
  height: 100%;
  border-bottom: 0.2vmax solid var(--guardsman-red-300);
}
.home .my-personal-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3vmax;
  align-items: flex-start;
  margin-left: 1.5vmax;
  height: 100%;
  width: 100%;
  padding: 0.5vmax;
  z-index: 3;
}
@media (min-width: 700px) {
  .home .my-personal-info {
    justify-content: center;
  }
}
@media (min-width: 550px) {
  .home .my-personal-info {
    margin-left: 2.5vmax;
  }
}
.home .my-personal-info h1 {
  width: 90%;
  margin-bottom: 2vmax;
  font-size: clamp(20px, 4.3vmax, 100px);
  font-family: "Protest Riot", sans-serif;
}
@media (min-width: 760px) {
  .home .my-personal-info h1 {
    font-size: clamp(20px, 6vmax, 100px);
  }
}
.home .my-personal-info h3 {
  margin-top: 5vmax;
}
.home .my-personal-info p {
  width: 100%;
  height: 4rem;
  text-align: left;
  margin-bottom: 2.5vmax;
  font-style: italic;
}
@media (min-width: 760px) {
  .home .my-personal-info p {
    width: 90%;
  }
}
.home .my-personal-info .container-media {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  gap: 1.5vmax;
  margin-top: 1.5vmax;
}
.home .my-personal-info .container-media span {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--guardsman-red-400);
  box-shadow: 0px 0px 8px var(--guardsman-red-300);
  border-radius: 50%;
  width: 2.5vw;
  min-width: 1.8rem;
  max-width: 5rem;
  height: 2.5vw;
  min-height: 1.8rem;
  max-height: 5rem;
  transition: all 100ms ease-in-out;
}
.home .my-personal-info .container-media span:hover {
  background: var(--guardsman-red-900);
  transform: scale(1.2);
}
.home .watch-video {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vmax;
}
.home .watch-video .play-video {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to left, #fc0606, #af0505);
  color: white;
  width: 5vmax;
  height: 5vmax;
  gap: 1.5vmax;
  font-size: 2.5vmax;
  z-index: 1;
  border-radius: 50%;
}
@media (min-width: 760px) {
  .home .watch-video .play-video {
    width: 6vmax;
    height: 6vmax;
  }
}/*# sourceMappingURL=HomeComponent.css.map */