
@mixin flex-center-all(){
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin style-logo{
  font-family: 'Orbitron', sans-serif;
  text-shadow: 2px 2px 4px rgba(236, 236, 236, 0.46);
  background: var(--gradient-silver);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@mixin style-sections{
  position: relative;
  background: transparent;
  width: 90%;
  color: white;
  padding: 1vmax;
  height: auto;
  margin-bottom: 6vmax;
  @media(min-width: 760px){
    padding: 1vmax 5vmax;
    width: 90%;
  }
}

@mixin style-silver{
  text-shadow: 2px 2px 4px rgba(236, 236, 236, 0.46);
  background: var(--gradient-silver);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}