.education {
  position: relative;
  position: relative;
  background: var(--blue-hard);
  width: 100%;
  color: white;
  padding: 1vmax;
  height: auto;
  background: var(--blue-soft);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2vmax;
}
@media (min-width: 700px) {
  .education {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }
}
.education .tab {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  padding: 1vmin;
  width: 15%;
  min-width: 7rem;
  background: rgb(247, 231, 12);
  color: black;
  cursor: pointer;
  box-shadow: 0px 1px 20px rgb(1, 2, 1);
  z-index: 4;
  font-size: 1.2vmax;
  right: 0;
}
.education h1 {
  text-shadow: 2px 2px 4px rgba(236, 236, 236, 0.46);
  background: var(--gradient-silver);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 2.5vmax;
}
.education .university-degrees {
  width: 95%;
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1vmax;
}
@media (min-width: 700px) {
  .education .university-degrees {
    max-width: 550px;
  }
}
.education .university-degrees .degree {
  display: flex;
  gap: 1vmax;
  width: 100%;
  padding: 1vmax;
  background: rgb(51, 51, 224);
  border-radius: 1vmax;
}
.education .university-degrees .degree aside {
  width: 20%;
}
.education .university-degrees .degree aside img {
  width: 100%;
  height: 100%;
}
.education .university-degrees .degree article {
  font-size: 1.3vmax;
}
.education .university-degrees .icon-decoration {
  display: none;
}
@media (min-width: 700px) {
  .education .university-degrees .icon-decoration {
    display: flex;
    align-items: center;
    justify-content: center;
    color: yellow;
    font-size: 20vmax;
    padding-top: 2vmax;
  }
}
.education .certifications {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  width: 98%;
  height: 100%;
  max-width: 400px;
}
@media (min-width: 700px) {
  .education .certifications {
    max-width: 550px;
  }
}
.education .certifications .container-all-certifications {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 40vmax;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: 0.2vmax solid yellow;
  border-radius: 2vmax;
  padding: 1.5vmax;
  margin-bottom: 3vmax;
  overflow-y: hidden;
}
.education .certifications .container-all-certifications .search {
  background: rgb(34, 31, 31);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 3vmax;
  font-size: 2.5vmax;
  margin-bottom: 1vmax;
  gap: 1vmax;
  overflow: hidden;
  padding: 0.3vmax;
  border-radius: 1vmax;
}
.education .certifications .container-all-certifications .search span {
  width: 5%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.education .certifications .container-all-certifications .search input {
  border: none;
  width: auto;
  font-size: 2vmax;
  background: rgb(34, 31, 31);
  color: white;
}
.education .certifications .container-all-certifications .search input:focus {
  outline: 1px solid transparent;
}
.education .certifications .container-all-certifications .all-certifications {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1vmax;
  overflow-y: auto;
}
.education .certifications .container-all-certifications .all-certifications p {
  justify-self: center;
}
.education .certifications .container-all-certifications .all-certifications .item {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  background: rgb(34, 31, 31);
  border-radius: 1vmax;
  width: 100%;
  height: 7vmax;
  min-height: 7vmax;
  overflow: hidden;
}
.education .certifications .container-all-certifications .all-certifications .item .img {
  width: 25%;
  height: 100%;
}
.education .certifications .container-all-certifications .all-certifications .item .img img {
  width: 100%;
  height: 100%;
  max-width: 10vmax;
}
.education .certifications .container-all-certifications .all-certifications .item .info {
  width: 75%;
  padding: 1vmax;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1vmax;
}
.education .certifications .container-all-certifications .all-certifications .item .watch-certification {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5vmax;
  cursor: pointer;
}
.education .certifications .container-all-certifications .all-certifications .item .watch-certification img {
  border-radius: 0.5vmax;
  width: 50%;
}
.education .certifications .container-all-certifications .all-certifications .item .watch-certification strong {
  display: flex;
  gap: 0.5vmax;
  font-size: 1vmax;
}
.education .certifications .modal-certifications {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  top: 8vmin;
  left: 0;
  z-index: 6;
  background: rgba(0, 0, 0, 0.692);
  color: white;
  min-width: 100%;
  min-height: 100vh;
}
.education .certifications .modal-certifications .modal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.2vmax solid yellow;
  height: 80%;
  margin-bottom: 5vmax;
  width: 95%;
}
@media (min-width: 422px) {
  .education .certifications .modal-certifications .modal {
    width: 75%;
  }
}
@media (min-width: 760px) {
  .education .certifications .modal-certifications .modal {
    width: 80%;
  }
}
@media (min-width: 1100px) {
  .education .certifications .modal-certifications .modal {
    width: 70%;
  }
}
@media (min-width: 1300px) {
  .education .certifications .modal-certifications .modal {
    width: 52%;
  }
}
.education .certifications .modal-certifications .modal .exit {
  cursor: pointer;
  position: absolute;
  top: 1%;
  right: 1%;
}
.education .certifications .modal-certifications .modal .title-certification {
  font-size: 2vmax;
  text-shadow: 2px 2px 4px rgba(236, 236, 236, 0.46);
  background: var(--gradient-silver);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: flex;
  gap: 1vmax;
}
.education .certifications .modal-certifications .modal .image-certification {
  position: relative;
  width: 100%;
  height: 30vmax;
}
@media (min-width: 600px) {
  .education .certifications .modal-certifications .modal .image-certification {
    height: 35%;
  }
}
@media (min-width: 760px) {
  .education .certifications .modal-certifications .modal .image-certification {
    height: 45vmax;
  }
}
@media (min-width: 1300px) {
  .education .certifications .modal-certifications .modal .image-certification {
    height: 35vmax;
  }
}
.education .certifications .modal-certifications .modal .image-certification img {
  width: 100%;
  height: 100%;
}
.education .certifications .modal-certifications .modal .image-certification button {
  position: absolute;
  background-color: var(--blue-soft);
  color: yellow;
  width: auto;
  font-size: 2.5vmax;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.education .certifications .modal-certifications .modal .image-certification button:nth-child(1) {
  right: 1.5%;
}
.education .certifications .modal-certifications .modal .image-certification button:last-child {
  left: 1.5%;
}/*# sourceMappingURL=TrainingComponent.css.map */