@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;500;600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&family=Sawarabi+Gothic&display=swap");
.main-nav {
  position: fixed;
  top: 0;
  z-index: 7;
  background: linear-gradient(to left, rgba(175, 5, 5, 0.8431372549), rgba(80, 0, 0, 0.8078431373));
  color: white;
  font-weight: 800;
  width: 100%;
  height: 8vmin;
  min-height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vmax;
}
.main-nav .burguer-menu {
  cursor: pointer;
  display: block;
  font-size: 2.5vmax;
  transition: all 1s ease-in-out;
}
@media (min-width: 760px) {
  .main-nav .burguer-menu {
    display: none;
  }
}
.main-nav .logo {
  font-family: "Orbitron", sans-serif;
  text-shadow: 2px 2px 4px rgba(236, 236, 236, 0.46);
  background: var(--gradient-silver);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 1.8vmax;
}
.main-nav ul {
  display: none;
  justify-content: center;
  gap: 1vmax;
}
@media (min-width: 760px) {
  .main-nav ul {
    display: flex;
  }
}
.main-nav ul li {
  font-family: "Protest Riot", sans-serif;
  list-style: none;
  font-size: clamp(1.2rem, 1.8vmax, 5rem);
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.main-nav ul li:last-child {
  border-right: 0.1vmax solid transparent;
}
.main-nav ul li:hover {
  color: var(--guardsman-red-200);
}
.main-nav .options {
  cursor: pointer;
  font-size: 1.5vmax;
}
.main-nav .options span {
  font-family: "Protest Riot", sans-serif;
}
.main-nav .options .modal-options {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1.5vmax;
  top: 100%;
  right: 0;
  width: 15vmax;
  height: 8vmax;
  background: linear-gradient(to bottom, rgba(175, 5, 5, 0.8431372549), rgba(80, 0, 0, 0.8078431373));
  border-radius: 0 0 3vmax 3vmax;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}
.main-nav .options .modal-options .language {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vmax;
}
.main-nav .options .modal-options .language button {
  display: flex;
  width: 100%;
  cursor: pointer;
}
.main-nav .options .modal-options .language button img {
  width: 23%;
  height: 75%;
}
.main-nav .options .modal-options.show {
  opacity: 1;
  visibility: visible;
}

.about-me {
  position: relative;
  background: transparent;
  width: 90%;
  color: white;
  padding: 1vmax;
  height: auto;
  margin-bottom: 6vmax;
  border: 0.2vmax solid var(--guardsman-red-300);
  align-content: flex-start;
  border-radius: 1vmax;
  background: rgba(0, 0, 0, 0.76);
  display: grid;
}
@media (min-width: 760px) {
  .about-me {
    padding: 1vmax 5vmax;
    width: 90%;
  }
}
@media (min-width: 760px) {
  .about-me {
    box-shadow: 0px 0px 27px var(--guardsman-red-400);
  }
}
@media (min-width: 991px) {
  .about-me {
    width: 80%;
    grid-template-areas: "photo info";
    grid-template-columns: 30% 70%;
  }
}
.about-me .photo {
  display: none;
  visibility: hidden;
  padding: 1vmin;
  padding-top: 2vmin;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5vmax;
}
@media (min-width: 991px) {
  .about-me .photo {
    grid-area: photo;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    visibility: visible;
  }
}
.about-me .photo img {
  width: 100%;
  height: 70%;
  border-bottom: 0.2vmax solid var(--guardsman-red-300);
  z-index: 1;
}
.about-me .photo button {
  width: 17vmax;
  height: 3.5vmax;
  z-index: 1;
  cursor: pointer;
}
.about-me .container-info {
  grid-area: info;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.about-me .container-info .info {
  padding: 1vmin;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.about-me .container-info .info .presentation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 3.5vmax;
  padding-bottom: 2vmax;
}
.about-me .container-info .info .presentation h2 {
  font-size: 2.8vmax;
}
.about-me .container-info .info .presentation button {
  font-size: 1.2vmax;
  cursor: pointer;
}
@media (min-width: 991px) {
  .about-me .container-info .info .presentation button {
    display: none;
  }
}
.about-me .container-info .info h2 {
  font-family: "Protest Riot", sans-serif;
}
.about-me .container-info .info p {
  width: 90%;
  margin-bottom: 5vmin;
  text-align: center;
}
@media (min-width: 600px) {
  .about-me .container-info .info p {
    width: 80%;
  }
}
.about-me .container-info .info .resume {
  display: grid;
  width: 90%;
  font-size: clamp(8px, 1vmax, 24px);
  gap: 1.5vmin;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 1vmin;
}
@media (min-width: 760px) {
  .about-me .container-info .info .resume {
    width: 80%;
  }
}
.about-me .container-info .info .resume span {
  display: flex;
  align-items: center;
  gap: 2vmin;
}
.about-me .container-info .info .resume span:nth-child(2),
.about-me .container-info .info .resume span:nth-child(4) {
  justify-content: flex-end;
}
.about-me .container-info .info .resume .birth {
  position: relative;
  cursor: pointer;
}
.about-me .container-info .info .resume .birth span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-me .container-info .info .resume .birth .hours {
  position: absolute;
  top: -100%;
  left: 100%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.637);
  opacity: 0;
  transition: all 0.8s ease-in-out;
}
.about-me .container-info .info .resume .birth:hover .hours {
  opacity: 1;
}
.about-me .container-info .info .skill {
  padding-top: 5vmax;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.about-me .container-info .info .skill h2 {
  margin-bottom: 5vmin;
}
.about-me .container-info .info .skill .container-skill {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1vmin;
  margin-bottom: 5vmax;
}
@media (min-width: 760px) {
  .about-me .container-info .info .skill .container-skill {
    width: 100%;
  }
}
.about-me .container-info .info .skill .container-skill div {
  padding: 1vmax;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: space-evenly;
  gap: 0.7vmin;
}
.about-me .container-info .info .skill .container-skill div strong {
  font-size: 5vmax;
  color: var(--guardsman-red-300);
}

.home {
  position: relative;
  background: transparent;
  width: 90%;
  color: white;
  padding: 1vmax;
  height: auto;
  margin-bottom: 6vmax;
  width: 100%;
  position: relative;
  margin-top: 7.8vmin;
  height: 100vmin;
  display: grid;
  justify-content: center;
  grid-template-columns: 70% 30%;
}
@media (min-width: 760px) {
  .home {
    padding: 1vmax 5vmax;
    width: 90%;
  }
}
.home .modal-categories {
  position: fixed;
  top: 8vmin;
  left: -100%;
  width: 85vw;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6862745098), rgba(46, 16, 16, 0.6862745098));
  z-index: 7;
  padding: 1vmax;
  transition: all 300ms ease-in-out;
}
@media (min-width: 760px) {
  .home .modal-categories {
    display: none;
  }
}
.home .modal-categories .exit {
  cursor: pointer;
  height: 3%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  font-size: 3vmax;
  color: var(--guardsman-red-100);
}
.home .modal-categories .image-modal {
  background: rgba(0, 0, 0, 0.788);
  border: 0.5vmax solid var(--guardsman-red-300);
  box-shadow: 0px 0px 8px var(--guardsman-red-300);
  width: 20vmax;
  height: 20vmax;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1vmax;
}
.home .modal-categories .image-modal img {
  height: 95%;
}
.home .modal-categories h2 {
  font-family: "Protest Riot", sans-serif;
  font-size: 2.8vmax;
  color: var(--guardsman-red-100);
}
.home .modal-categories hr {
  color: var(--guardsman-red-300);
  box-shadow: 0px 0px 8px var(--guardsman-red-300);
}
.home .modal-categories ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.home .modal-categories ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vmax;
  margin-bottom: 2.5vmax;
  font-size: 2.5vmax;
  cursor: pointer;
  text-shadow: 2px 2px 4px rgba(236, 236, 236, 0.46);
  background: var(--gradient-silver);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.home .modal-categories ul li span {
  color: var(--guardsman-red-400);
  font-size: 3vmax;
}
.home .modal-categories div {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1vmax;
}
.home .modal-categories div button {
  width: 80%;
  height: 20%;
  font-size: 1.8vmax;
}
.home .modal-categories.show {
  left: 0;
}
.home .my-photo-personal {
  position: absolute;
  right: 0;
  height: 100%;
  z-index: 2;
}
.home .my-photo-personal img {
  height: 100%;
  border-bottom: 0.2vmax solid var(--guardsman-red-300);
}
.home .my-personal-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3vmax;
  align-items: flex-start;
  margin-left: 1.5vmax;
  height: 100%;
  width: 100%;
  padding: 0.5vmax;
  z-index: 3;
}
@media (min-width: 700px) {
  .home .my-personal-info {
    justify-content: center;
  }
}
@media (min-width: 550px) {
  .home .my-personal-info {
    margin-left: 2.5vmax;
  }
}
.home .my-personal-info h1 {
  width: 90%;
  margin-bottom: 2vmax;
  font-size: clamp(20px, 4.3vmax, 100px);
  font-family: "Protest Riot", sans-serif;
}
@media (min-width: 760px) {
  .home .my-personal-info h1 {
    font-size: clamp(20px, 6vmax, 100px);
  }
}
.home .my-personal-info h3 {
  margin-top: 5vmax;
}
.home .my-personal-info p {
  width: 100%;
  height: 4rem;
  text-align: left;
  margin-bottom: 2.5vmax;
  font-style: italic;
}
@media (min-width: 760px) {
  .home .my-personal-info p {
    width: 90%;
  }
}
.home .my-personal-info .container-media {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  gap: 1.5vmax;
  margin-top: 1.5vmax;
}
.home .my-personal-info .container-media span {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--guardsman-red-400);
  box-shadow: 0px 0px 8px var(--guardsman-red-300);
  border-radius: 50%;
  width: 2.5vw;
  min-width: 1.8rem;
  max-width: 5rem;
  height: 2.5vw;
  min-height: 1.8rem;
  max-height: 5rem;
  transition: all 100ms ease-in-out;
}
.home .my-personal-info .container-media span:hover {
  background: var(--guardsman-red-900);
  transform: scale(1.2);
}
.home .watch-video {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vmax;
}
.home .watch-video .play-video {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to left, #fc0606, #af0505);
  color: white;
  width: 5vmax;
  height: 5vmax;
  gap: 1.5vmax;
  font-size: 2.5vmax;
  z-index: 1;
  border-radius: 50%;
}
@media (min-width: 760px) {
  .home .watch-video .play-video {
    width: 6vmax;
    height: 6vmax;
  }
}

.portfolio {
  position: relative;
  background: transparent;
  width: 90%;
  color: white;
  padding: 1vmax;
  height: auto;
  margin-bottom: 6vmax;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1.5vmax;
  padding-bottom: 5vmax;
  gap: 1vmax;
}
@media (min-width: 760px) {
  .portfolio {
    padding: 1vmax 5vmax;
    width: 90%;
  }
}
.portfolio .title {
  font-family: "Protest Riot", sans-serif;
  font-size: 2.8vmax;
}
.portfolio .categories-projects {
  display: flex;
  justify-content: center;
  gap: 1vmax;
  margin-bottom: 1vmax;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.portfolio .categories-projects button {
  background: black;
  border: 0.1vmax solid var(--guardsman-red-300);
  color: var(--guardsman-red-100);
  width: 40%;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.portfolio .categories-projects button:hover {
  background-color: orange;
}
.portfolio .categories-projects button:active {
  background-color: red;
  color: white;
}
.portfolio .categories-projects.fixed {
  position: fixed;
  border-radius: 0 0 3vmax 3vmax;
  width: 80%;
  top: 8vmin;
  z-index: 5;
  background: linear-gradient(to left, rgba(175, 5, 5, 0.8431372549), rgba(80, 0, 0, 0.8078431373));
  padding-bottom: 1vmax;
}
@media (min-width: 760px) {
  .portfolio .categories-projects.fixed {
    border-radius: 0 0 5vmax 5vmax;
  }
}
.portfolio .container-hightlights {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  gap: 1.5vmax;
}
@media (min-width: 700px) {
  .portfolio .container-hightlights {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
.portfolio .container-hightlights .project-hightlight {
  background: rgba(0, 0, 0, 0.705);
  border: 0.2vmax solid var(--guardsman-red-300);
  border-radius: 0.5vmax;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5vmax;
}
@media (min-width: 760px) {
  .portfolio .container-hightlights .project-hightlight {
    box-shadow: 0px 0px 20px var(--guardsman-red-400);
  }
}
@media only screen and (min-width: 500px) and (max-width: 699px) {
  .portfolio .container-hightlights .project-hightlight {
    width: 80%;
  }
}
.portfolio .container-hightlights .project-hightlight .title-project {
  display: flex;
  gap: 1vmax;
}
.portfolio .container-hightlights .project-hightlight .photo-project {
  width: 98%;
  height: 25vmax;
  border-radius: 0.5vmax;
  overflow: hidden;
}
.portfolio .container-hightlights .project-hightlight .photo-project img {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
.portfolio .container-hightlights .project-hightlight .photo-project img:hover {
  transform: scale(1.5);
}
.portfolio .container-hightlights .project-hightlight strong {
  font-size: clamp(8px, 1.3vmax, 30px);
}
.portfolio .container-hightlights .project-hightlight .container-skills {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1.5vmax;
  gap: 0.5vmax;
  padding: 0.4vmax;
}
.portfolio .container-hightlights .project-hightlight .container-skills .skill {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3vmax;
  border-radius: 0.5vmax;
  background: var(--guardsman-red-400);
  color: var(--guardsman-red-100);
  height: 4vmax;
  width: 4vmax;
}
.portfolio .container-hightlights .project-hightlight .project-visualization {
  width: 100%;
  border-radius: 0;
  cursor: pointer;
}
.portfolio .container-hightlights.hide {
  display: none;
}
.portfolio .container-other-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  gap: 1.5vmax;
}
@media (min-width: 632px) {
  .portfolio .container-other-projects {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media (min-width: 832px) {
  .portfolio .container-other-projects {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.portfolio .container-other-projects .other-projects {
  background: rgb(0, 0, 0);
  background: linear-gradient(to left, var(--guardsman-red-950), black);
  background: rgba(0, 0, 0, 0.705);
  border: 0.2vmax solid var(--guardsman-red-300);
  border-radius: 0.5vmax;
  width: 90%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5vmax;
}
@media (min-width: 760px) {
  .portfolio .container-other-projects .other-projects {
    box-shadow: 0px 0px 20px var(--guardsman-red-400);
  }
}
@media only screen and (min-width: 432px) and (max-width: 632px) {
  .portfolio .container-other-projects .other-projects {
    width: 75%;
  }
}
.portfolio .container-other-projects .other-projects .title-project {
  display: flex;
  gap: 1vmax;
}
.portfolio .container-other-projects .other-projects .photo-project {
  width: 98%;
  height: 20vmax;
  border-radius: 0.5vmax;
  overflow: hidden;
}
@media only screen and (min-width: 500px) and (max-width: 699px) {
  .portfolio .container-other-projects .other-projects .photo-project {
    height: 25vmax;
  }
}
.portfolio .container-other-projects .other-projects .photo-project img {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
.portfolio .container-other-projects .other-projects .photo-project img:hover {
  transform: scale(1.5);
}
.portfolio .container-other-projects .other-projects strong {
  font-size: clamp(8px, 1.3vmax, 30px);
}
.portfolio .container-other-projects .other-projects .container-skills {
  align-self: flex-start;
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1vmax;
  padding-left: 1vmax;
  margin-bottom: 1.5vmax;
}
.portfolio .container-other-projects .other-projects .container-skills strong {
  font-size: 1vmax;
}
.portfolio .container-other-projects .other-projects .container-skills .skill {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(12px, 1.5vmax, 20px);
  border-radius: 0.5vmax;
  background: var(--guardsman-red-400);
  color: var(--guardsman-red-100);
  height: 2vmax;
  width: 2vmax;
}
.portfolio .container-other-projects .other-projects .description {
  display: flex;
  align-items: center;
  text-align: start;
  padding: 1vmax;
  margin: 0.5vmax 0;
  font-size: clamp(8px, 0.8vmax, 16px);
  height: 5vmax;
}
.portfolio .container-other-projects .other-projects .project-visualization {
  width: 100%;
  display: flex;
  gap: 0.5vmax;
}
.portfolio .container-other-projects .other-projects .project-visualization button {
  border-radius: 0;
  width: 50%;
  cursor: pointer;
}
.portfolio .container-other-projects.hide {
  display: none;
}
.portfolio .modal-hightlights {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  top: 8vmin;
  z-index: 6;
  background: rgba(0, 0, 0, 0.692);
  color: white;
  width: 100%;
  min-height: 100vh;
}
.portfolio .modal-hightlights .modal {
  background: linear-gradient(to bottom, black, var(--guardsman-red-950), var(--guardsman-red-500), var(--guardsman-red-950), black);
  background: linear-gradient(to left, rgba(255, 149, 149, 0.662745098), rgba(255, 193, 193, 0.7450980392), rgba(255, 149, 149, 0.662745098));
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 27px var(--guardsman-red-400);
  border-radius: 0.8vmax;
  height: 80%;
  margin-bottom: 5vmax;
  width: 95%;
}
@media (min-width: 760px) {
  .portfolio .modal-hightlights .modal {
    width: 80%;
  }
}
@media (min-width: 1100px) {
  .portfolio .modal-hightlights .modal {
    width: 70%;
  }
}
@media (min-width: 1300px) {
  .portfolio .modal-hightlights .modal {
    width: 52%;
  }
}
.portfolio .modal-hightlights .modal .exit {
  cursor: pointer;
  position: absolute;
  top: 0.5%;
  right: 1.5%;
  font-size: 2vmax;
}
.portfolio .modal-hightlights .modal .title-project {
  text-shadow: 2px 2px 4px rgba(236, 236, 236, 0.46);
  background: var(--gradient-silver);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: flex;
  gap: 1vmax;
  color: black;
}
.portfolio .modal-hightlights .modal .title-project strong {
  font-family: "Protest Riot", sans-serif;
  font-size: 2vmax;
  padding: 0.3vmax 0;
}
.portfolio .modal-hightlights .modal .photo-project {
  position: relative;
  width: 97%;
  height: 35vmax;
}
@media (min-width: 760px) {
  .portfolio .modal-hightlights .modal .photo-project {
    height: 35vmax;
  }
}
@media (min-width: 1300px) {
  .portfolio .modal-hightlights .modal .photo-project {
    height: 28vmax;
  }
}
.portfolio .modal-hightlights .modal .photo-project img {
  width: 100%;
  height: 100%;
  border-radius: 0.8vmax;
}
@media (min-width: 760px) {
  .portfolio .modal-hightlights .modal .photo-project img {
    box-shadow: -5px -3px 9px black;
  }
}
.portfolio .modal-hightlights .modal .photo-project button {
  position: absolute;
  background: rgba(0, 0, 0, 0.548);
  color: var(--guardsman-red-100);
  width: auto;
  font-size: 3vmax;
  top: 50%;
  transform: translateY(-50%);
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
.portfolio .modal-hightlights .modal .photo-project button:active {
  background: black;
}
.portfolio .modal-hightlights .modal .photo-project button:nth-child(1) {
  right: 1.5%;
  animation: translate-infinity-left 1.5s ease-in-out infinite;
}
.portfolio .modal-hightlights .modal .photo-project button:last-child {
  left: 1.5%;
  animation: translate-infinity 1.5s ease-in-out infinite;
}
.portfolio .modal-hightlights .modal .container-skills {
  align-self: flex-start;
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(to left, black, var(--guardsman-red-950), black);
  border-radius: 0 5px 5px 0;
  gap: 1vmax;
  padding: 0.2vmax 1vmax;
  margin: 0.4vmax 0;
}
.portfolio .modal-hightlights .modal .container-skills .skill {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5vmax;
  border-radius: 0.5vmax;
  background-color: var(--guardsman-red-500);
  height: 1.8vmax;
  width: 1.8vmax;
}
.portfolio .modal-hightlights .modal .description {
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: center;
  padding: 1vmax;
  height: 6vmax;
  font-style: italic;
  font-size: clamp(6px, 0.9vmax, 18px);
  color: black;
  overflow-y: scroll;
}
.portfolio .modal-hightlights .modal .project-visualization {
  width: 100%;
  display: flex;
  gap: 0.5vmax;
}
.portfolio .modal-hightlights .modal .project-visualization button {
  width: 50%;
  border-radius: 0;
  cursor: pointer;
}

.contacts {
  position: relative;
  background: transparent;
  width: 90%;
  color: white;
  padding: 1vmax;
  height: auto;
  margin-bottom: 6vmax;
}
@media (min-width: 760px) {
  .contacts {
    padding: 1vmax 5vmax;
    width: 90%;
  }
}
.contacts .form-contact {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2vmax;
}
.contacts .form-contact:focus-within .title-form .decoration {
  left: 100%;
  transform: rotate(180deg) translateX(100%);
  border-bottom: 1vmax solid var(--guardsman-red-400);
}
.contacts .form-contact .title-form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  width: 75%;
  padding: 2vmax 0;
  margin-bottom: 3vmax;
  border-bottom: 0.2vmax solid var(--guardsman-red-300);
}
@media (min-width: 760px) {
  .contacts .form-contact .title-form {
    width: 60%;
  }
}
.contacts .form-contact .title-form h2 {
  font-family: "Protest Riot", sans-serif;
  font-size: 2.8vmax;
}
.contacts .form-contact .title-form .decoration {
  position: absolute;
  top: 100%;
  left: 0;
  transform: rotate(180deg);
  width: 0;
  height: 0;
  border-left: 1vmax solid transparent;
  border-right: 8vmax solid transparent;
  border-bottom: 1vmax solid var(--guardsman-red-200);
  transition: all 2s ease-in-out;
}
.contacts .form-contact label {
  width: 60%;
  display: flex;
  flex-direction: column-reverse;
  gap: 0.5vmax;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 500px) {
  .contacts .form-contact label {
    width: 40%;
  }
}
@media (min-width: 500px) {
  .contacts .form-contact label {
    width: 35%;
  }
}
@media (min-width: 1200px) {
  .contacts .form-contact label {
    width: 30%;
  }
}
.contacts .form-contact label p {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  font-size: 1.2vmax;
  color: white;
  transition: all 0.8s ease-in-out;
}
.contacts .form-contact label input, .contacts .form-contact label textarea {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 0.5vmax;
  color: white;
  border: 0.2vmax solid transparent;
  border-bottom: 0.2vmax solid var(--guardsman-red-300);
  border-radius: 0.5vmax;
  transition: all 0.8s ease-in-out;
  box-shadow: 0px 0px 8px transparent;
}
.contacts .form-contact label input::-moz-placeholder, .contacts .form-contact label textarea::-moz-placeholder {
  opacity: 0.5;
  -moz-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
.contacts .form-contact label input::placeholder, .contacts .form-contact label textarea::placeholder {
  opacity: 0.5;
  transition: all 0.8s ease-in-out;
}
.contacts .form-contact label input:focus + p,
.contacts .form-contact label textarea:focus + p {
  visibility: visible;
  opacity: 1;
}
.contacts .form-contact label input:focus,
.contacts .form-contact label textarea:focus {
  outline: 1px solid transparent;
}
.contacts .form-contact label input:focus::-moz-placeholder, .contacts .form-contact label textarea:focus::-moz-placeholder {
  opacity: 0;
}
.contacts .form-contact label input:focus::placeholder,
.contacts .form-contact label textarea:focus::placeholder {
  opacity: 0;
}
.contacts .form-contact label .message {
  width: 100%;
}
.contacts .form-contact button {
  width: 60%;
  height: 4vmax;
}
@media (min-width: 500px) {
  .contacts .form-contact button {
    width: 40%;
  }
}
@media (min-width: 500px) {
  .contacts .form-contact button {
    width: 35%;
  }
}
@media (min-width: 1200px) {
  .contacts .form-contact button {
    width: 30%;
  }
}
.contacts .form-contact .modal-info {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8vmin;
  left: 0;
  z-index: 6;
  background: rgba(0, 0, 0, 0.692);
  color: white;
  min-width: 100%;
  min-height: 100vh;
}
.contacts .form-contact .modal-info .frame {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vmax;
  border-radius: 0.7vmax;
  padding: 0.5vmax;
  height: 10vmax;
  width: 20vmax;
  margin-bottom: 5vmax;
}
@media (max-width: 422px) {
  .contacts .form-contact .modal-info .frame {
    margin-bottom: 0vmax;
    margin-top: 10vmax;
  }
}
.contacts .form-contact .modal-info .frame h2 {
  text-align: center;
  font-size: clamp(8px, 2vmax, 30px);
  font-family: "Protest Riot", sans-serif;
}
.contacts .form-contact .modal-info .frame p {
  font-size: clamp(6px, 1.1vmax, 16px);
  font-style: italic;
  text-align: center;
}

/*------------General----------------------------*/
.footer {
  position: relative;
  background: transparent;
  width: 90%;
  color: white;
  padding: 1vmax;
  height: auto;
  margin-bottom: 6vmax;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.5vmax;
  margin-bottom: 0.5vmax;
  justify-content: space-between;
  padding: 0.5vmax 1vmax;
  width: 100%;
  height: auto;
}
@media (min-width: 760px) {
  .footer {
    padding: 1vmax 5vmax;
    width: 90%;
  }
}
.footer .social-media-container {
  display: flex;
  gap: 1.5vw;
}
.footer .social-media-container .social-media {
  background: var(--guardsman-red-400);
  box-shadow: 0px 0px 8px var(--guardsman-red-300);
  border-radius: 50%;
  width: 2.5vw;
  min-width: 1.8rem;
  max-width: 5rem;
  height: 2.5vw;
  min-height: 1.8rem;
  max-height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: max 1rem, min(2.3vw, 3rem);
  transition: all 100ms ease-in-out;
}
.footer .social-media-container .social-media a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.footer .social-media-container .social-media:hover {
  background: var(--guardsman-red-900);
  transform: scale(1.2);
}
.footer .rights {
  color: white;
  font-family: "Protest Riot", sans-serif;
  font-size: 1.3vmax;
}
.footer .logo {
  font-family: "Orbitron", sans-serif;
  text-shadow: 2px 2px 4px rgba(236, 236, 236, 0.46);
  background: var(--gradient-silver);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.education {
  position: relative;
  position: relative;
  background: transparent;
  width: 90%;
  color: white;
  padding: 1vmax;
  height: auto;
  margin-bottom: 6vmax;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.2vmax solid var(--guardsman-red-300);
  border-radius: 1vmax;
  background: rgba(0, 0, 0, 0.8);
  flex-direction: column;
}
@media (min-width: 760px) {
  .education {
    padding: 1vmax 5vmax;
    width: 90%;
  }
}
@media (min-width: 760px) {
  .education {
    box-shadow: 0px 0px 27px var(--guardsman-red-400);
  }
}
@media (min-width: 700px) {
  .education {
    width: 80%;
  }
}
.education .title {
  font-family: "Protest Riot", sans-serif;
  font-size: 2.8vmax;
  margin-bottom: 2vmax;
}
.education .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2vmax;
}
@media (min-width: 700px) {
  .education .container {
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }
}
.education .container .university-degrees {
  width: 95%;
  max-width: 400px;
  margin-bottom: 2vmax;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1vmax;
}
@media (min-width: 700px) {
  .education .container .university-degrees {
    max-width: 550px;
  }
}
.education .container .university-degrees .subtitle {
  font-family: "Protest Riot", sans-serif;
}
.education .container .university-degrees .degree {
  display: flex;
  gap: 1vmax;
  width: 100%;
  padding: 1vmax;
  background: linear-gradient(to left, var(--guardsman-red-950), black);
  border-radius: 1vmax;
  font-size: clamp(6px, 0.8vmax, 11px);
}
.education .container .university-degrees .degree aside {
  width: 20%;
}
.education .container .university-degrees .degree aside img {
  width: 100%;
  height: 100%;
}
.education .container .university-degrees .degree article {
  font-size: clamp(6px, 0.8vmax, 11px);
}
.education .container .university-degrees .icon-decoration {
  display: none;
}
@media (min-width: 700px) {
  .education .container .university-degrees .icon-decoration {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20vmax;
    padding-top: 2vmax;
    color: var(--guardsman-red-300);
  }
}
.education .container .certifications {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  width: 98%;
  height: 100%;
  max-width: 400px;
}
@media (min-width: 700px) {
  .education .container .certifications {
    max-width: 550px;
  }
}
.education .container .certifications .subtitle {
  font-family: "Protest Riot", sans-serif;
}
.education .container .certifications .container-all-certifications {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 43.5vmax;
  color: rgb(255, 255, 255);
  border-radius: 1vmax;
  padding: 1.5vmax;
  margin-bottom: 3vmax;
  overflow-y: hidden;
}
.education .container .certifications .container-all-certifications .search {
  background: rgb(34, 31, 31);
  background: linear-gradient(to left, var(--guardsman-red-950), black);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 3vmax;
  margin-bottom: 1vmax;
  gap: 1vmax;
  overflow: hidden;
  padding: 0.3vmax;
  border-radius: 1vmax;
}
.education .container .certifications .container-all-certifications .search span {
  width: 5%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.education .container .certifications .container-all-certifications .search input {
  border: none;
  width: auto;
  background: transparent;
  color: white;
}
.education .container .certifications .container-all-certifications .search input:focus {
  outline: 1px solid transparent;
}
.education .container .certifications .container-all-certifications .all-certifications {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1vmax;
  overflow-y: auto;
}
.education .container .certifications .container-all-certifications .all-certifications p {
  justify-self: center;
}
.education .container .certifications .container-all-certifications .all-certifications .item {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  background: rgb(34, 31, 31);
  background: linear-gradient(to left, var(--guardsman-red-950), black);
  border-radius: 1vmax;
  width: 100%;
  height: 6.3vmax;
  min-height: 6.3vmax;
  overflow: hidden;
}
.education .container .certifications .container-all-certifications .all-certifications .item .img {
  width: 25%;
  height: 100%;
}
.education .container .certifications .container-all-certifications .all-certifications .item .img img {
  width: 100%;
  height: 100%;
  max-width: 10vmax;
}
.education .container .certifications .container-all-certifications .all-certifications .item .info {
  width: 75%;
  padding: 1vmax;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: clamp(6px, 0.8vmax, 11px);
}
.education .container .certifications .container-all-certifications .all-certifications .item .watch-certification {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5vmax;
  cursor: pointer;
}
.education .container .certifications .container-all-certifications .all-certifications .item .watch-certification img {
  border-radius: 0.5vmax;
  width: 50%;
}
.education .container .certifications .container-all-certifications .all-certifications .item .watch-certification strong {
  display: flex;
  align-items: center;
  gap: 0.5vmax;
  font-size: 1vmax;
}
.education .container .certifications .modal-certifications {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  top: 8vmin;
  left: 0;
  z-index: 6;
  background: rgba(0, 0, 0, 0.692);
  color: white;
  width: 100%;
  min-height: 100vh;
}
.education .container .certifications .modal-certifications .modal {
  background: linear-gradient(to bottom, black, var(--guardsman-red-950), var(--guardsman-red-500), var(--guardsman-red-950), black);
  background: linear-gradient(to left, rgba(255, 149, 149, 0.662745098), rgba(255, 193, 193, 0.7450980392), rgba(255, 149, 149, 0.662745098));
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 27px var(--guardsman-red-400);
  border-radius: 0.8vmax;
  height: 80%;
  margin-bottom: 5vmax;
  width: 95%;
}
@media (min-width: 760px) {
  .education .container .certifications .modal-certifications .modal {
    width: 80%;
  }
}
@media (min-width: 1100px) {
  .education .container .certifications .modal-certifications .modal {
    width: 70%;
  }
}
@media (min-width: 1300px) {
  .education .container .certifications .modal-certifications .modal {
    width: 60%;
  }
}
.education .container .certifications .modal-certifications .modal .exit {
  cursor: pointer;
  position: absolute;
  top: 0.5%;
  right: 1.5%;
  font-size: 2vmax;
}
.education .container .certifications .modal-certifications .modal .title-certification {
  text-shadow: 2px 2px 4px rgba(236, 236, 236, 0.46);
  background: var(--gradient-silver);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: flex;
  gap: 1vmax;
  color: black;
}
.education .container .certifications .modal-certifications .modal .title-certification strong {
  font-family: "Protest Riot", sans-serif;
  font-size: 2vmax;
  padding: 0.3vmax 0;
}
.education .container .certifications .modal-certifications .modal .image-certification {
  position: relative;
  width: 97%;
  height: 35vmax;
  margin-bottom: 0.5vmax;
}
@media (min-width: 760px) {
  .education .container .certifications .modal-certifications .modal .image-certification {
    height: 35vmax;
  }
}
.education .container .certifications .modal-certifications .modal .image-certification img {
  width: 100%;
  height: 100%;
  border-radius: 0.8vmax;
}
@media (min-width: 760px) {
  .education .container .certifications .modal-certifications .modal .image-certification img {
    box-shadow: -5px -3px 9px black;
  }
}
.education .container .certifications .modal-certifications .modal .image-certification button {
  position: absolute;
  background: rgba(0, 0, 0, 0.548);
  color: var(--guardsman-red-100);
  width: auto;
  font-size: 3vmax;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.education .container .certifications .modal-certifications .modal .image-certification button:nth-child(1) {
  right: 1.5%;
  animation: translate-infinity-left 1.5s ease-in-out infinite;
}
.education .container .certifications .modal-certifications .modal .image-certification button:last-child {
  left: 1.5%;
  animation: translate-infinity 1.5s ease-in-out infinite;
}

:root {
  --gradient-silver: linear-gradient(45deg, #eaeaea, #d2d2d2, #eaeaea);
  --main-color: black;
  --main-background:radial-gradient(circle at 95% -4%, var(--guardsman-red-900) 0%, var(--main-color) 15%, transparent 33%), radial-gradient(circle at 97% 65%, var(--guardsman-red-900) 10%, var(--main-color) 25%, transparent 16%), radial-gradient(circle at 5% 40%, var(--guardsman-red-900) 2%, var(--main-color) 20%, transparent 80%), radial-gradient(circle at 5% 99%, var(--guardsman-red-900) 2%, var(--main-color) 20%, transparent 7%);
  --guardsman-red-50: #fff0f0;
  --guardsman-red-100: #ffdddd;
  --guardsman-red-200: #ffc1c1;
  --guardsman-red-300: #ff9595;
  --guardsman-red-400: #ff5959;
  --guardsman-red-500: #ff2626;
  --guardsman-red-600: #fc0606;
  --guardsman-red-700: #c70000;
  --guardsman-red-800: #af0505;
  --guardsman-red-900: #900c0c;
  --guardsman-red-950: #500000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Fredoka", sans-serif;
  font-family: "Sawarabi Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: var(-- --guardsman-red-200);
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  width: 100vw;
  font-size: 1.5vw;
  background: black;
  background-image: var(--main-background);
  font-size: clamp(10px, 1.2vmax, 24px);
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr {
  width: 90%;
}
@media (min-width: 600px) {
  hr {
    width: 80%;
  }
}

a {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5vmax;
  width: 100%;
  height: 100%;
}

button {
  border: none;
  border-radius: 0.5vmax;
  width: 10vmax;
  height: 2.5vmax;
  font-size: clamp(8px, 1vmax, 16px);
  background: linear-gradient(to left, var(--guardsman-red-400), var(--guardsman-red-600));
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8vmax;
  transition: background 300ms ease-in-out;
  color: var(--guardsman-red-100);
}

button:hover {
  background: linear-gradient(to left, var(--guardsman-red-700), var(--guardsman-red-950));
}

p {
  font-weight: 300;
}

/*---------------------styles scrollBar Google Chrome--------------*/
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background-color: var(--guardsman-red-400);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, black, var(--guardsman-red-950), var(--guardsman-red-500), var(--guardsman-red-950), black);
  border-radius: 10vmax;
}

@keyframes translate-infinity {
  0% {
    transform: translateX(0%) scale(1.5);
  }
  50% {
    transform: translateX(50%) scale(1.8);
  }
  100% {
    transform: translateX(0%) scale(1.5);
  }
}
@keyframes translate-infinity-left {
  0% {
    transform: translateX(0%) scale(1.5);
  }
  50% {
    transform: translateX(-50%) scale(1.8);
  }
  100% {
    transform: translateX(0%) scale(1.5);
  }
}/*# sourceMappingURL=index.css.map */